<section id="product-list">
    <mat-card class="product" *ngFor="let product of products">
        <div>
        <mat-card-header>
            <h1>{{product.name}}</h1>

            <div class="brand" ngSwitch={{product.brandName}}>
                <img src="https://www.commbank.com.au/developer/static/media/commbank.b4eca2cd.svg" height="24px"
                    width="24px" *ngSwitchCase="'CommBank'" />
                <span>{{product.brandName}}</span>
            </div>
        </mat-card-header>
        <p>{{product.description}}</p>
    </div>
        <div class="product-category" ngSwitch={{product.productCategory}}>
            <span *ngSwitchCase="'TRANS_AND_SAVINGS_ACCOUNTS'">💎 Saving Accounts</span>
            <span *ngSwitchCase="'TERM_DEPOSITS'">💰 Term Deposits</span>
            <span *ngSwitchCase="'CRED_AND_CHRG_CARDS'">💳 Credit/Charge Cards</span>
            <span *ngSwitchDefault="">🌱 Other Saving</span>
        </div>
    </mat-card>
</section>